<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.qianyiw.wearableux_101" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_watch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >
        <service
            android:name=".HeartRateService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".gestureServicre"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".MainMenu" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClimateControlActivity"
            android:theme="@style/MyStyle" >
        </activity>
        <activity android:name=".Dest_SetActivity" >
        </activity>
        <activity
            android:name=".AudioActivity"
            android:theme="@style/MyStyle" >
        </activity>
        <activity
            android:name=".McsPassengerAdjustActivity"
            android:theme="@style/MyStyle" >
        </activity>
        <activity
            android:name=".MCSActivity"
            android:theme="@style/MyStyle" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:theme="@style/MyStyle">
        </activity>
    </application>

</manifest>
